#{extends 'standardForm.html' /}
#{set title:'Otpremnice' /}



<script>



function sync(item){
	brojOtpremnice = item.find(".brojOtpremnice").html()
	mestoIzdavanjaRacuna = item.find(".mestoIzdavanjaRacuna").html()
	datumIzdavanjaRacuna = item.find(".datumIzdavanjaRacuna").html()
	nacinPlacanja = item.find(".nacinPlacanja").html()
	rokPlacanja= item.find(".rokPlacanja").html()
	poslovniPartner = item.find(".poslovniPartner").html()
	poslovnaGodina = item.find(".poslovnaGodina").html()
	mesto = item.find(".mesto").html()
    id = item.find(".id").html()
    $("#brojOtpremnice").val(brojOtpremnice);
	$("#mestoIzdavanjaRacuna").val(mestoIzdavanjaRacuna);
	$("#datumIzdavanjaRacuna").val(datumIzdavanjaRacuna);
	$("#nacinPlacanja").val(nacinPlacanja);
	$("#rokPlacanja").val(rokPlacanja);
	$("#poslovniPartner").val(poslovniPartner);
	$("#poslovnaGodina").val(poslovnaGodina);
    $("#id").val(id);
}





function remove(id){
	$(location).attr('href', '/Otpremnice/delete?id='+id);
}
</script>

<p>
<ul>
  <li><a href="@{Otpremnice.showOtpremnice("search")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="@{Otpremnice.showOtpremnice("refresh")}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{Otpremnice.showOtpremnice("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
  
</ul>
</p>


<h1>Otpremnice</h1>
<table>
	<tr class = "header">
	   <th>brojOtpremnice</th>
	   <th>mestoIzdavanjaRacuna</th> 
	   <th>datumIzdavanjaRacuna</th> 
	   <th>nacinPlacanja</th> 
	   <th>rokPlacanja</th> 
	   <th>poslovniPartner</th> 
	   <th>poslovnaGodina</th>  
	   
	</tr>
#{list items:otpremnica, as:'otpremnica'}
	<tr>
		<td class = "brojOtpremnice">${otpremnica.brojOtpremnice}</td>
		<td class = "mestoIzdavanjaRacuna">${otpremnica.mestoIzdavanjaRacuna}</td>
		<td class = "datumIzdavanjaRacuna">${otpremnica.datumIzdavanjaRacuna}</td>
		<td class = "nacinPlacanja">${otpremnica.nacinPlacanja}</td>
		<td class = "rokPlacanja">${otpremnica.rokPlacanja}</td>
	 <!--  	<td class = "poslovniPartner">#{if otpremnica.poslovniPartner}${otpremnica.poslovniPartner.nazivPartnera}#{/if}</td>
		<td class = "poslovnaGodina">#{if otpremnica.poslovnaGodina}${otpremnica.poslovnaGodina.godina}#{/if}</td>
				-->
		<td style = "visibility: hidden; max-width: 0px" class = "id">${otpremnica.id}</td>
	</tr>
#{/list}
</table>

#{set 'action'}

	#{if mode == 'add'}
		@{Otpremnice.create()}
	#{/if}
	
	#{elseif mode == 'edit'}
        @{Otpremnice.edit()}
    #{/elseif}
    
 
   
 #{/set}





<div class = "panel">
	<p>
	
		<form action=${action} method="post">
		
				#{field 'id'}
					<input id="pomeranje" type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'brojOtpremnice'}
					<label for = "${field.id}">BrojOtpremnice</label>
					<input id="pomeranje" type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				
				
				
				<p>
				#{field 'mestoIzdavanjaRacuna'}
					<label for = "${field.id}">MestoIzdavanjaRacuna</label>
					<input id="pomeranje" type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'datumIzdavanjaRacuna'}
					<label for = "${field.id}">DatumIzdavanjaRacuna</label>
					<input id="pomeranje" type = "date" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'nacinPlacanja'}
					<label for = "${field.id}">NacinPlacanja</label>
					<input id="pomeranje" type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'rokPlacanja'}
					<label for = "${field.id}">RokPlacanja</label>
					<input id="pomeranje" type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				 <p>
				#{field 'poslovnaGodina'}
					<label for = "${field.id}">PoslovnaGodina</label>
					<select id="pomeranje" name = "${field.name}" id = "${field.id}"/>
					#{list items:mesta, as:'poslovnaGodina'}
					<option value = "${poslovnaGodina.id}">${poslovnaGodina.godina}</option>
					#{/list}
					</select>
					
				#{/}
				</p>
			 <p>
				#{field 'poslovniPartneri'}
					<label for = "${field.id}">PoslovniPartner</label>
					<select id="pomeranje" name = "${field.name}" id = "${field.id}"/>
					#{list items:mesta, as:'poslovniPartner'}
					<option  value = "${poslovnaGodina.id}">${poslovniPartner.nazivPartnera}</option>
					#{/list}
					</select>
					
				#{/}
				
				
				</p>
				
				
				
				
				
				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{Otpremnice.showOtpremnice("")}" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>
	</p>
</div>



