#{extends 'standardForm.html' /}
#{set title:'Otpremnice' /}



<script>


function sync(item){
	brojOtpremnice = item.find(".brojOtpremnice").html()
	osnovica= item.find(".osnovica").html()
	ukupanPDV= item.find(".ukupanPDV").html()
	iznosZaPlacanje= item.find(".iznosZaPlacanje").html()

	mesto = item.find(".mesto").html()
    id = item.find(".id").html()
    $("#brojOtpremnice").val(brojOtpremnice);
	$("#osnovica").val(osnovica);
	$("#ukupanPDV").val(ukupanPDV);
	$("#iznosZaPlacanje").val(iznosZaPlacanje);

    $("#id").val(id);
}


function stavke(id){
	$(location).attr('href', '/StavkeOtpremnica/showStavkeOtpremnica?mode='+id);
	
}


function remove(id){
	$(location).attr('href', '/Otpremnice/delete?id='+id);
}
</script>

<p>
<ul>
  <li><a href="http://localhost:9000" id="pickup"><img src="@{'/public/images/home.png'}"/></a></li>

  <li><a href="@{Otpremnice.showOtpremnice("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="@{Otpremnice.showOtpremnice("refresh")}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{Otpremnice.showOtpremnice("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
  <li><a href="@{Otpremnice.showOtpremnice("stavke")}" id = "stavke">Stavke otpremnica</a></li>
  
</ul>
</p>


<h1>Otpremnice</h1>
<table>
	<tr class = "header">
	   <th>Broj otpremnice</th>
	   <th>Osnovica</th> 
	   <th>Ukupan PDV</th> 
	   <th>Iznos za placanje</th> 
	   <th>Poslovna Godina</th>  
	   <th>Poslovni Partner</th> 
	   
	</tr>
#{list items:otpremnica, as:'otpremnica'}
	<tr>
		<td class = "brojOtpremnice">${otpremnica.brojOtpremnice}</td>
		<td class = "osnovica">${otpremnica.osnovica}</td>
	   	<td class = "ukupanPDV">${otpremnica.ukupanPDV}</td>
	   	<td class = "iznosZaPlacanje">${otpremnica.iznosZaPlacanje}</td>
	    <td class = "poslovnaGodina">#{if otpremnica.poslovnaGodina}${otpremnica.poslovnaGodina.godina}#{/if}</td>
		<td class = "poslovniPartner">#{if otpremnica.poslovniPartner}${otpremnica.poslovniPartner.nazivPartnera}#{/if}</td>
				
		<td style = "visibility: hidden; max-width: 0px" class = "id">${otpremnica.id}</td>
	</tr>
#{/list}
</table>

#{set 'action'}

	#{if mode == 'add'}
		@{Otpremnice.create()}
	#{/if}
	
	#{elseif mode == 'edit'}
        @{Otpremnice.edit()}
    #{/elseif}
    #{elseif mode == 'stavke'}
 		
 		@{StavkeOtpremnica.stavke()}
 	#{/elseif}
 
   
 #{/set}





<div class = "panel">
	<p>
	
		<form action=${action} method="post">
		
				#{field 'id'}
					<input  type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'brojOtpremnice'}
					<label for = "${field.id}">Broj Otpremnice</label>
					<input  type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				
				
				<p>
				#{field 'osnovica'}
					<label for = "${field.id}">Osnovica</label>
					<input " type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				
				<p>
				#{field 'ukupanPDV'}
					<label for = "${field.id}">Ukupan PDV</label>
					<input " type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				
				<p>
				#{field 'iznosZaPlacanje'}
					<label for = "${field.id}">Iznos za placanje</label>
					<input " type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'poslovnaGodina'}
					<label for = "${field.id}">Poslovna Godina</label>
					<select name = "${field.name}" />
					#{list items:poslovnaGodina, as:'poslovnaGodina'}
					<option value = "${poslovnaGodina.id}">${poslovnaGodina.godina}</option>
					#{/list}
					</select>
					
				#{/}
				</p>
				
				<p>
				#{field 'poslovniPartner'}
					<label for = "${field.id}">Poslovni Partneri</label>
					<select name = "${field.name}" />
					#{list items:poslovniPartner, as:'poslovniPartner'}
					<option value = "${poslovniPartner.id}">${poslovniPartner.nazivPartnera}</option>
					#{/list}
					</select>
					
				#{/}
				</p>
				
				
				
				
				
				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{Otpremnice.showOtpremnice("")}" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>
	</p>
</div>



