#{extends 'main.html' /}
#{set title:'Home' /}



<H1 class="meni1"> MENI: </H1>
 	
<div class="dd">
<div class="dropdown">
  <button class="dropbtn">Preduzece</button>
  <div class="dropdown-content">
    <a href="http://localhost:9000/preduzeca/showPreduzeca">Preduzeca</a>
  	</div>
</div>
<div class="dropdown">
  <button class="dropbtn">Mesta</button>
  <div class="dropdown-content">
    <a href="http://localhost:9000/mesta/showMesta">Mesta</a>
  	</div>
</div>

<div class="dropdown">
  <button class="dropbtn">Cenovnik</button>
  <div class="dropdown-content">
    <a href="http://localhost:9000/cenovnici/showCenovnici">Cenovnici</a>
    <a href="http://localhost:9000/stCenovnika/showStCenovnika">Stavke Cenovnika</a>
  	</div>
</div>
<div class="dropdown">
  <button class="dropbtn">Narudzbe</button>
  <div class="dropdown-content">
    <a href="http://localhost:9000/Narudzbe/showNarudzbe">Narudzbe</a>
    <a href="http://localhost:9000/StavkeNarudzbenica/showStavkeNarudzbenica">Stavke Narudzbe</a>
  	</div>
</div>
<div class="dropdown">
  <button class="dropbtn">Fakture</button>
  <div class="dropdown-content">
    <a href="http://localhost:9000/Fakture/showFakture">Fakture</a>
    <a href="http://localhost:9000/StavkeFaktura/showStavkeFaktura">Stavke Faktura</a>
  	</div>
</div>
<div class="dropdown">
  <button class="dropbtn">Otpremnice</button>
  <div class="dropdown-content">
    <a href="http://localhost:9000/Otpremnice/showOtpremnice">Otpremnice</a>
    <a href="http://localhost:9000/StavkeOtpremnica/showStavkeOtpremnica">Stavke Otpremnica</a>
  	</div>
</div>
<div class="dropdown">
  <button class="dropbtn">Poslovne Godine i Partneri</button>
  <div class="dropdown-content">
    <a href="http://localhost:9000/poslovneGodine/showGodina">Poslovne Godine</a>
    <a href="http://localhost:9000/PoslovniPartneri/showPoslovniPartneri">Poslovni Partneri</a>
  	</div>
</div>
<div class="dropdown">
  <button class="dropbtn">Robe</button>
  <div class="dropdown-content">
    <a href="http://localhost:9000/GrupeRoba/showGrupeRoba">Grupe Roba</a>
    <a href="http://localhost:9000/robeUsluga/showRobeUsluga">Robne Usluge</a>
  	</div>
</div>
<div class="dropdown">
  <button class="dropbtn">Porezi</button>
  <div class="dropdown-content">
    <a href="http://localhost:9000/Porezi/showPorezi">Porezi</a>
    <a href="http://localhost:9000/istorijePoreza/showIPoreza">Istorija Poreza</a>
  	<a href="http://localhost:9000/PoreskeStope/showPoreskeStope">Poreske Stope</a>
  	</div>
</div>
<div class="dropdown">
  <button class="dropbtn">PDV</button>
  <div class="dropdown-content">
    <a href="http://localhost:9000/PDVi/showPDV">PDV</a>
    <a href="http://localhost:9000/StopePDV/show">Stope PDV-a</a>
  	</div>
</div>
<div class="dropdown">
  <button class="dropbtn">Izvestaji</button>
  <div class="dropdown-content">
  
    <a href="http://localhost:9000/Izvestaji/show">Izvestaji</a>
  	</div>
</div>
</div>
<div clas="picture">
	<a>
	</a>
</div>