#{extends 'standardForm.html' /}
#{set title:'Poslovna godina' /}



<script>

function sync(item){
	godina = item.find(".godina").html()
	zakljucena = item.find(".zakljucena").html()
    id = item.find(".id").html()
    $("#godina").val(godina);
	$("#zakljucena").val(zakljucena);
    $("#id").val(id);
}

function remove(id){
	$(location).attr('href', '/PoslovneGodine/delete?id='+id);
}


</script>

<p>
<ul>
  <li><a href="http://localhost:9000" id="pickup"><img src="@{'/public/images/home.png'}"/></a></li>

  <li><a href="@{PoslovneGodine.showGodina("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="@{PoslovneGodine.showGodina("refresh")}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{PoslovneGodine.showGodina("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
  
</ul>
</p>


#{set 'action'}

	#{if mode == 'add'}
		@{PoslovneGodine.create()}
	#{/if}
	#{elseif mode == 'edit'}
		 @{PoslovneGodine.edit()}
 	#{/elseif}
 	#{else}
 		@{PoslovneGodine.filter()}
	 #{/else}
 #{/set}



<h1>Poslovna godina</h1>

<table>
	<tr class = "header">
	   <th>Poslovna godina</th> 
		<th>Zakljucena</th> 
		   
	   
	</tr>
#{list items:godine, as:'poslovnaGodina'}
	<tr>
		<td class = "godina">${poslovnaGodina.godina}</td>
		<td class = "zakljucena">${poslovnaGodina.zakljucenaStr}
			
			
			

		</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${poslovnaGodina.id}</td>
	</tr>
#{/list}
</table>



<div class = "panel">
	<p>
	
		<form action=${action} method="post">
		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'godina'}
					<label for = "${field.id}">godina</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				
				<p>
				#{field 'zakljucena'}
					<label for = "${field.id}">zakljucena</label>
					<input type = "checkbox" name = "${field.name}" id = "${field.id}"  />
				#{/}
				</p>
				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{PoslovneGodine.showGodina("")}" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>
	</p>
</div>

