#{extends 'standardForm.html' /}
#{set title:'Stavke narudzbenice' /}

<script>


function sync(item){
    kolicina = item.find(".kolicina").html()
	jedinicaMere = item.find(".jedinicaMere").html()
    narudzba = item.find(".narudzba").html()
    id = item.find(".id").html()
    $("#kolicina").val(kolicina);
    $("#jedinicaMere").val(jedinicaMere);
    $("#narudzba").val(narudzba);
    $("#id").val(id);
}

function remove(id){
	$(location).attr('href', '/StavkeNarudzbenica/delete?id='+id);
}


</script>

<p>
<ul>
<li><a href="http://localhost:9000" id="pickup"><img src="@{'/public/images/home.png'}"/></a></li>  <li><a href="@{StavkeNarudzbenica.showStavkeNarudzbenica("")}" id= "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="@{StavkeNarudzbenica.showStavkeNarudzbenica("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a  id= "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id= "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id= "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id= "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{StavkeNarudzbenica.showStavkeNarudzbenica("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
<li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li></ul>
</p>


<h1>Stavke narudzbenice</h1>

<table>
	<tr class = "header">
	   <th>kolicina</th>
	   <th>jedinica mere</th>
	   <th>roba usluga</th>
	   <th>narudzba</th>
	   
	</tr>
#{list items:stavkeNarudzbenica, as:'stavkaNarudzbenice'}
	<tr>
		<td class = "kolicina">${stavkaNarudzbenice.kolicina}</td>
		<td class = "jedinicaMere">${stavkaNarudzbenice.jedinicaMere}</td>
		<td class = "robaUsluga">#{if stavkaNarudzbenice.robaUsluga}${stavkaNarudzbenice.robaUsluga.nazivRobeUsluge}#{/if}</td>
		<td class = "narudzba">${stavkaNarudzbenice.narudzba.brojNarudzbe}</td>
		
		<td style = "visibility: hidden; max-width: 0px" class = "id">${stavkaNarudzbenice.id}</td>
	</tr>
#{/list}
</table>

#{set 'action'}
	#{if mode == 'add'}
		@{StavkeNarudzbenica.add()}
	#{/if}
	
	#{elseif mode == 'edit'}
		@{StavkeNarudzbenica.edit()}
	#{/elseif}
	
	#{elseif mode == 'remove'}
		@{StavkeNarudzbenica.delete()}
	#{/elseif}

	#{else}
		@{StavkeNarudzbenica.filter()}
	#{/else}
#{/set}



<div class = "panel">
	<p>
		<form action=${action} method="post">		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				
				<p>
				#{field 'kolicina'}
					<label for = "${field.id}">kolicina</label>
					<input type = "number" name = "${field.name}" id = "kolicina"/>
				#{/}
				
				</p>
				<p>
				#{field 'jedinicaMere'}
					<label for = "${field.id}">jedinica mere</label>
					<input type = "text" name = "${field.name}" id = "jedinicaMere"/>
				#{/}
				
				</p>

				<p>
				#{field 'robaUsluga'}
					<label for = "${field.id}">Roba usluga</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:robeUsluga, as:'robaUsluga'}
					<option value = "${robaUsluga.id}">${robaUsluga.nazivRobeUsluge}</option>
					#{/list}
					</select>
					
				#{/}
				</p>
								<p>
				#{field 'narudzba'}
					<label for = "${field.id}">narudzbenica</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:narudzbe, as:'narudzba'}
					<option value = "${narudzba.id}">${narudzba.brojNarudzbe}</option>
					#{/list}
					</select>
					
				#{/}
				</p>
				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" id="sad" style="margin-left:6em"/>
					<a href = "@{StavkeNarudzbenica.showStavkeNarudzbenica("")}" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>	
</p>
</div>
 