#{extends 'standardForm.html' /}
#{set title:'Grupe roba' /}


<script>


function sync(item){
	nazivGrupe = item.find(".nazivGrupe").html()
    
    id = item.find(".id").html()
    $("#nazivGrupe").val(nazivGrupe);
   
    $("#id").val(id);
}

function remove(id){
	$(location).attr('href', '/GrupeRoba/delete?id='+id);
}


</script>


<p>
<ul>
  <li><a href="http://localhost:9000" id="pickup"><img src="@{'/public/images/home.png'}"/></a></li>

  <li><a href="@{GrupeRoba.showGrupeRoba("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="@{GrupeRoba.showGrupeRoba("refresh")}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{GrupeRoba.showGrupeRoba("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
  
</ul>
</p>



#{set 'action'}

	#{if mode == 'add'}
		@{GrupeRoba.create()}
	#{/if}
	#{elseif mode == 'edit'}
		 @{GrupeRoba.edit()}
 	#{/elseif}
 	#{else}
 		@{GrupeRoba.filter()}
	 #{/else}	
 #{/set}



<h1>Grupe roba</h1>




<table>
	<tr class = "header">
	   <th>Naziv</th> 
	   <th>PDV</th>
	   <th>Preduzece</th>
	</tr>
#{list items:grupeRoba, as:'grupaRobe'}
	<tr>
		<td class = "nazivGrupe">${grupaRobe.nazivGrupe}</td>
		<td class = "pdv">#{if grupaRobe.pdv}${grupaRobe.pdv.nazivPDV}#{/if}</td>		
		<td class = "preduzece">#{if grupaRobe.preduzece}${grupaRobe.preduzece.naziv}#{/if}</td>
		
		<td style = "visibility: hidden; max-width: 0px" class = "id">${grupaRobe.id}</td>
	</tr>
#{/list}
</table>


<div class = "panel">
	<p>
	
		<form action=${action} method="post">
		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'nazivGrupe'}
					<label for = "${field.id}">NazivGrupe</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				
				<p>
				#{field 'pdv'}
					<label for = "${field.id}">PDV</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:pdvi, as:'pdv'}
					<option value = "${pdv.id}">${pdv.nazivPDV}</option>
					#{/list}
					</select>
					#{/}
				</p>
				<p>
				#{field 'preduzece'}
					<label for = "${field.id}">Preduzece</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:preduzeca, as:'preduzece'}
					<option  value = "${preduzece.id}">${preduzece.naziv}</option>
					#{/list}
					</select>
					
				#{/}
				
				
				</p>
				
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "#" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>
	</p>
</div>